<div class="wrapper">
    <h1>Invoice {{ invoice.number }}</h1>

    <p>
        <a ng-href="/admin/order/{{ invoice.order.humanId }}">View order ({{ invoice.order.humanId }})</a>
        <br />
        <a ng-href="/admin/customer/{{ invoice.order.customer.id }}">View customer</a>
        <br />
        Head count: {{ invoice.headCount }}
    </p>

    <p ng-if="invoice.status">
        Status: {{ (invoice.statusText | getInvoiceStatusText).statusText }}.
        <a ng-click="markAsPaid()"
            ng-if="invoice.status === 1"
            class="cp-mark-as-paid">Mark as paid</a>
        <a ng-click="markAsAwaitingPayment()"
            ng-if="invoice.status === 2 && invoice.order.isPaidOnAccount"
            class="cp-revert-to-awaiting-payment">Revert to 'awaiting payment'</a>
    </p>

    <p>
        <a ng-click="reissue()" class="cp-reissue-invoice">Reissue invoice</a>
        (use after invoicing bug fixes or changes)
    </p>

    <h2>History</h2>

    <cp-history-table
        document-id="invoice.id"
        document-type="CityPantry\OrderBundle\Document\CustomerInvoice"
        ></cp-history-table>

    <h2>View</h2>

    <p>
        <!--
        Old invoices don't always have the file system URLs set, so only show the links if they
        are set.
        -->
        <a ng-if="invoice.pdfFileSystemUrl"
            ng-href="{{ invoice.pdfFileSystemUrl }}"
            >Get PDF version</a>
        <br />
        <a ng-if="invoice.htmlFileSystemUrl"
            ng-href="{{ invoice.htmlFileSystemUrl }}"
            >Get HTML version</a>
    </p>

    <cp-customer-invoice ng-if="invoice" cp-invoice-id="{{ invoice.id }}"></cp-customer-invoice>
</div>
