<div class="wrapper">
    <h1>Invoice {{ invoice.number }}</h1>

    <p>
        <a ng-href="/admin/order/{{ invoice.order.humanId }}">View order ({{ invoice.order.humanId }})</a>
        <br />
        <a ng-href="/admin/customer/{{ invoice.order.customer.id }}">View customer</a>
        <br />
        Head count: {{ invoice.headCount }}
    </p>

    <cp-customer-invoice ng-if="invoice" cp-invoice-id="{{ invoice.id }}"></cp-customer-invoice>

    <h2>History</h2>

    <cp-history-table
        document-id="invoice.id"
        document-type="CityPantry\OrderBundle\Document\CustomerInvoice"
        ></cp-history-table>
</div>
